* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  text-decoration: none;
}

html {
  min-height: 100%;
  width: 100%;
}

main {
  min-height: 100%;
  width: 100%;
}

body {
  font-family: "DM Sans", sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 5.6rem;
}

h1 {
  margin-right: 9.4rem;
}

/* utility  */

/* COLORS */
.light-brown {
  color: #d3573c;
}

.brown {
  color: #901c1c;
}

.grey {
  color: #757575;
}

.black {
  color: #000;
}

/* CSS elements */

.logo {
  height: 3.1rem;
  margin-left: 6.3rem;
}

.photographer_section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4.4rem;
  margin-top: 6.3rem;
}

.photographer_section article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.photographer_section div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 400;

  & h2 {
    font-size: 2.2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  & h3 {
    font-size: 0.85rem;
  }

  & h4 {
    font-size: 0.65rem;
  }

  & h5 {
    font-size: 0.55rem;
  }
}

.photographer_section article img {
  height: 12.5rem;
  width: 12.5rem;
  object-fit: cover;
  border-radius: 50%;
}
